
.container {
    margin: 150px auto 200px auto;
    width: 40%;
    min-width: 500px;
}

h1 {
    text-align: center;
    color: rgb(20, 230, 20);
    margin-top: 0px;
}

.form-container {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(20, 230, 20);
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}

.input-label {
    text-align: left;
    width: 40%;
    font-size: 20px;
    font-weight: 800;
}

.input-area {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.input-image {
    border: 1px solid rgb(118, 118, 118);
    font-size: 16px;
    border-radius: 5px;
    background-color: aliceblue;
}

.input-image::file-selector-button {
    font-weight: 700;
    height: 31px;
    margin-right: 8px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.submit-button {
    font-size: 20px;
    width: 40%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 8px 0px;
}
