
.card {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 448px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background: linear-gradient(to bottom right, rgb(255, 80, 40), rgb(235, 170, 30));
}

.topStats {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.topTextItems {
    font-size: 14px;
    font-weight: 700;
}

.imageWindow {
    display: flex;
    justify-content: center;
    width: 85%;
    height: 35%;
    background: linear-gradient(to bottom left, rgb(175, 225, 235), rgb(140, 150, 210));
    border: 1px solid black;
    border-radius: 6px;
    margin: 0px auto;
}

.image {
    aspect-ratio: 1/1;
    margin: 3px 0px;
}

.statsContainer {
    border: 1px solid black;
    border-radius: 6px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 1px auto;
    font-size: 11px;
}

.statsRow {
    display: flex;
    justify-content: space-between;
    margin: 0px 5px;
}

.statsRow > div {
    width: 50%;
}

.spellContainer {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    margin: 1px auto 23px auto;
    flex-grow: 1;
    border-radius: 6px;
}
