.spellContainer {
    display: flex;
    flex-grow: 1;
}

.text {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

.name {
    padding-left: 10px;
    font-weight: 800;
}

.description {
    font-size: 10px;
    padding-left: 2px;
    font-weight: 600;
}

.power {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-size: 20px;
    font-weight: 700;
}
