footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 80, 80);
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 500px;
    color: white;
    height: 60px;
    font-size: 1.2rem;
    color: rgb(20, 230, 20);
}