.container {
    margin: 150px auto 200px auto;
    width: 30%;
    min-width: 450px;
}

.container > h1 {
    text-align: center;
    color: rgb(20, 230, 20);
    margin-top: 0px;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 50px;
    background-color: rgb(20, 230, 20);
}

.buttonContainer > button {
    margin: 10px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    height: 60px;
    width: 150px;
}

.buttonContainer > button:hover {
    cursor: pointer;
}

.editButton {
    background-color: rgb(120, 0, 230);
}

.deleteButton {
    background-color: red;
}

.addButton {
    background-color: blue;
}

.forgetButton {
    background-color: rgb(230, 0, 120);
}