
.container {
    margin: 100px auto 200px auto;
    width: 90%;
    min-width: 400px;
    border: 1px solid gray;
    border-radius: 10px;
}

.container > h1 {
    text-align: center;
    color: rgb(20, 230, 20);
    margin: 0px;
}

.cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid gray;
    border-radius: 10px;
}
